.head {
  display: flex;
  flex-direction: flex;
}

.connexion {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

.chat {
  margin: 2vh;
}

.chien {
  margin: 2vh;
}
