body {
    color: #124660;
    
}
.dogandcat{
    width: 105%;
    display: flex;
    justify-content: center;
    margin: -3vh;
    z-index: -1;
}

.presentation {
    display: flex;
    flex-direction: row;
    margin: 5vh;
}

.boxPresntation {
    border: solid 1.5px #1B9476;
    border-radius: 10px;
    margin: 0.5vh;
    padding: 1vh;
    height: 30vh;
    padding-top: 3vh;
    align-items: center;
}

.titleProducts{
display: flex;
justify-content: center;
font-size: 1rem;

}

.categoryProduits{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgCategories{
   max-width: 25vh;
   max-height: 35vh;
    border-radius: 5px;
    margin: 1vh
}