.allIcons {
  display: flex;
  flex-direction: row;

}

.icon {
   display: flex;
   flex-wrap: wrap;
   margin: 2vh;
   justify-content: center;
}

.dogCat {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 1vh;
   padding: 0;
   margin: 0;
}